**/__pycache__
tags
setup/
.emacs.d/autosaves/
.emacs.d/backups/
.emacs.d/auto-save-list/
.emacs.d/elpa/
.emacs.d/.lsp-session-v1
.emacs.d/projectile-bookmarks.eld
.emacs.d/projectile.cache
.emacs.d/projects
.emacs.d/recentf
*.elc
